.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.button{
  color: rgb(1, 1, 1);
  box-shadow: 20pc;
  background-color: rgb(125, 209, 125);
  align-items:center
  
}
.span{
  color: red;
}
.table{
  border-color: rgb(233, 228, 221);
  border: 25%;
  border-top: 10px;
  border-bottom: 10px;
  border-left: 10px;
  border-right: 10px;
}
.input{
  border: 25pt;
}

.submitbutton{
  background-color: rgb(43, 161, 43);
}
.form-field{
  padding: 5pt;
  border: 2pc;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
